
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.title {
	font-family: "Roboto", sans-serif;
	line-height: 42px;
	font-size: 36px;
	text-align: center;
	padding: 40px 0;
	font-weight: 700;
}
.conteiner {
	display: grid;
	grid-template-columns: 256px 256px 256px 256px;
	grid-template-rows: 256px 256px 256px 256px;
	grid-gap: 30px;
	width: 1120px;
	margin: auto;
	padding: 0 0 43px 0;
}
.block {
	display: flex;
	flex-direction: column;
}
.block:nth-child(1){
	background: url(../img/Rectangle25.png) no-repeat;
}
.block:nth-child(2){
	background: url(../img/Rectangle44.png) no-repeat;
}
.block:nth-child(3){
	background: url(../img/Rectangle34.png) no-repeat;
	grid-column: span 2;
	grid-row: span 2;
}
.block:nth-child(4){
	background: url(../img/Rectangle63.png) no-repeat;
}
.block:nth-child(5){
	background: url(../img/Rectangle64.png) no-repeat;
}
.block:nth-child(6){
	background: url(../img/Rectangle69.png) no-repeat;
	grid-column: span 2;
	grid-row: span 2;
}
.block:nth-child(7){
	background: url(../img/Rectangle65.png) no-repeat;
}
.block:nth-child(8){
	background: url(../img/Rectangle67.png) no-repeat;
}
.block:nth-child(9){
	background: url(../img/Rectangle66.png) no-repeat;
}
.block:nth-child(10){
	background: url(../img/Rectangle68.png) no-repeat;
}
.block_title {
	flex: 1 1 auto;
	padding: 15px 15px 0 20px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	line-height: 25px;
	font-size: 18px;
	color: #FFFFFF;
}
.cost {
	color: #FFFFFF;
	margin: 0 0 20px 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.description {
	font-weight: 400;
	font-size: 16px;
	margin: 15px 0;
}
.days_nights {
	font-weight: 400;
	font-size: 16px;
}